body {
  height: 100vh;
  margin: 0;
}

.tester__container {
  height: 100%;
  display: flex;
}

.tester__game-state {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.game__list {
  flex: 0 1 auto;
  height: 150px;
}

#join-game-code {
  margin-top: 5px;
}

.game__state {
  flex: 5 1 auto;
}

#game-state {
  width: 95%;
  height: 90%;
  resize: none;
}

#action-error,
#set-state-error {
  margin-top: 5px;
  color: red;
}

.tester__actions {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;

  padding-top: 40px;
}

.actions__dispatch {
  flex: 1 1 auto;
}

#game-action-select {
  width: 80%;
}

.actions__set-state {
  flex: 3 1 auto;
}

#set-state-contents {
  width: 95%;
  height: 85%;
  resize: none;
}

.tester__users {
  flex: 0 1 auto;
  width: 500px;
  padding: 20px;
}

.impersonation__remove--hidden {
  display: none;
}

#impersonate-id {
  width: 45%;
}

#impersonate-name {
  width: 25%;
}
